<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="LockedOrientationActivity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".my_class.AppManager"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/splus_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Splus"
        tools:targetApi="31">
        <activity
            android:name=".WriteCommentActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".CreateCourseActivity"
            android:exported="false" />
        <activity
            android:name=".CreateAssignmentActivity"
            android:exported="false" />
        <activity
            android:name=".CalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".SettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetailCourseActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CourseActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SummaryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DoHomeworkActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetailNotificationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SubmissionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QnaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SignUpActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".my_dialog.LanguageOptionsDialog"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".StudyActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>